@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Yonghee Lee Website";
    ViewData["Header"] = "Yonghee Lee";
}


<img src="img/image0.jpeg" />

<h3>What I want to gain from IS 413:</h3>
<p>
    I hope to gain a solid understanding of the concepts and technologies used in building web applications with ASP.NET.
    I want to develop practical skills in using ASP.NET framework to build efficient, secure, and scalable web applications.
    I aim to learn the best practices and techniques for building user-friendly and responsive web interfaces,
    as well as integrating databases and other third-party tools.
    Furthermore, I hope to gain exposure to real-world applications of ASP.NET and understand its role in the larger web development ecosystem.
</p>

<h3>My Top 3 Jobs:</h3>
<ul>
    <li>Data Analyst</li>
    <li>Cloud Engineer</li>
    <li>Web Developer</li>
</ul>




