body {
    font-family: sans-serif
}

label {
    width: 150px;
    display: inline-block;
}

div {
    padding-top: 50px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 80px;
}

img {
    width: 300px;
    height: 460px;
    padding-top: 30px;
}

p {
    width: 700px;
    height: 140px;
    padding: 0px;
    border: 0;
}

h3 {
    padding-top: 50px;
}